@import url("https://fonts.googleapis.com/css?family=Raleway");

$raleway: 'Raleway', sans-serif;

body {
  color: #333;
  font-family: $raleway;
}

// a {  
//   text-decoration: none;
//   color: black;
// }

.form {
  width: 30vw;
  height: 60vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input {
    margin-top: 2vh;
    border-radius: 2px;
    border: thin solid grey;
    width: 25vw;
  }
  .profile-pic {
    input {
      border: none;
    }
  }
  .actions {
    input {
      height: 3vh;
      background-color: grey;
      width: 20vw;
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

