// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Raleway");

$raleway: 'Raleway', sans-serif;
*{
    font-family: $raleway;
}
a {  
    text-decoration: none;
    color: black;
}

.taskShow {
    display: flex;
    flex-direction: column;
    align-items:center;
    a {
        display: flex;
        justify-content: center;
        margin-top: 1vh;
        width: 30%;
        padding: 1vh 0 1vh 0;
        background-color: grey;
        border-radius: 3px;
    }

.single {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding: 2vh;
    width: 40vw;
    background-color: white;
    margin-top: 3vh;
    nav {
        display: flex;
        justify-content: space-around;
        margin-top: 2vh;
    }
}
}
