// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Raleway");

$raleway: 'Raleway', sans-serif;

body{
    font-family: $raleway;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: rgb(236, 236, 236)
}
a {  
    text-decoration: none;
    :visited {
        color: white;
      }
    // pseudoselector ^
  }
.new_user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 15vw;
    background-color: grey;
    border-radius: 5px;
}

.user {
    background-color: white;
    margin-top: 3vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    height: 40vh;
    width: 50vw;
    overflow: scroll;
    div {
        width: 45vw;
    }
    .profile {
        padding-top: 3vh;
    }
    .tasks {
        font-size: 85%;
        padding-left: 2vh;
    }
    
}
.links {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 40vh;
    width: 10vw;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 33.3%;
        width: 10vw; 
    }
    a:hover {
        background-color: grey;
    }
}
.userShow {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    
    .single {
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       border-top-left-radius:5px;
       border-bottom-left-radius:5px;
       padding: 2vh;
       width: 40vw;
       background-color: white;
       margin-bottom: 3vh;
       nav {
           display: flex;
           justify-content: space-around;
           margin-top: 2vh;
       }
       a {
            display: flex;
            justify-content: center;
            margin-top: 1vh;
            width: 45%;
            padding: 1vh 0 1vh 0;
            background-color: grey;
            border-radius: 3px;
        }
    }
    .profileTag {
        height: 100%;
        width: auto;
        div {
            margin-bottom: 1vh;
        }
        
    }
    .profileTagLinks {
        display: flex;
        flex-direction: column;
        a {
            width: 50%;
            padding: 0 0 0 0;
        }
    }
    
}

.image {
    height: 20vh;
    width: 20vh;
}
.user-container {
    display: flex;
}